<td>{{id}}</td>
<td>{{client_name}}</td>
<td class="text-center">{{appliances_length}}</td>
<td>{{status}}</td>
<td>{{createdAt}}</td>
<td>{{closedAt}}</td>
<td class="center-vh">
	<a href="#render/service_request/show/{{_id}}" id="show-service-request" class="btn btn-green">
		<i class="fa fa-ellipsis-h fa-lg"></i>
	</a>
</td>