<td>{{model}}</td>
<td>{{brand}}</td>
<td>{{category}}</td>
<td>{{subcategory}}</td>
<td class="center-vh">
	<a href="#render/model/show/{{_id}}" class="btn btn-green" data-toggle="tooltip" data-placement="top" title="Más Información" id="show">
		<i class="fa fa-ellipsis-h fa-lg"></i>
	</a>
	<a id="selected" class="btn btn-warning hide" data-toggle="tooltip" data-placement="top" title="Seleccionar">
		<i class="fa fa-external-link fa-lg"></i>
	</a>
</td>