<div class="row" style="margin: 0" data-address-id="{{timestamp}}">
	<hr data-address-id="{{timestamp}}">
	<div class="col-sm-2 form-control-under">
		<button type="button" class="btn btn-danger pull-right del-address" data-address-id="{{timestamp}}" tabindex = "-1">
			<i class="fa fa-minus"></i>
		</button>
	</div>
	<div class="col-sm-8 form-control-under">
		<input type="text" class="form-control" name="street" value="{{street}}" data-address-id="{{timestamp}}">
	</div>
	<label for="street" class="col-sm-2 text-muted control-label-under" style="text-align: left; margin-bottom: 8px">
		Calle
	</label>
	<div class="col-sm-8 col-sm-offset-2">
		<input type="text" class="form-control form-control-under" name="city" value="{{city}}" data-address-id="{{timestamp}}">
	</div>
	<label for="city" class="col-sm-2 text-muted control-label-under">
		Ciudad
	</label>
	<div class="col-sm-8 col-sm-offset-2">
		<input type="text" class="form-control form-control-under" name="department" value="{{department}}" data-address-id="{{timestamp}}">
	</div>
	<label for="department" class="col-sm-2 text-muted control-label-under">
		Dep.
	</label>
</div>