<ul id="client-tabs" class="nav nav-tabs">
  <li class="active">
  	<a href="#client-details-{{timestamp}}" data-toggle="tab">
  		Detalle
  	</a>
  </li>
  <li>
  	<a href="#client-service-orders-{{timestamp}}" data-toggle="tab" id="client-service-requests">
  		Ordenes de Servicio
  	</a>
  </li>
  <li>
  	<a href="#client-apparatus-{{timestamp}}" data-toggle="tab">
  		Equipos
  	</a>
  </li>
  <li>
  	<a href="#client-edit-{{timestamp}}" data-toggle="tab" id="client-edit">
  		Editar Datos
  	</a>
  </li>
</ul>
<div id="client-tab-content" class="tab-content">
  <div class="tab-pane fade in active" id="client-details-{{timestamp}}"></div>
  <div class="tab-pane fade in air-t" id="client-service-orders-{{timestamp}}">
    <div id="client-service_requests-{{timestamp}}"></div>
  </div>
  <div class="tab-pane fade in air-t" id="client-appliances-{{timestamp}}">
  	<h3>Equipos</h3>
  </div>
  <div class="tab-pane fade in air-t" id="client-edit-{{timestamp}}">
  	<div id="client-form-{{timestamp}}" class="row"></div>
  </div>
</div>