<td>{{name}}</td>
<td>
	<dt>{{doc-type}}:</dt>
	<dd>{{doc-number}}</dd>
</td>
<td>
	<ul class="list-unstyled">
		{{#phones}}
			<li>{{number}}</li>
		{{/phones}}
	</ul>
</td>
<td>
	{{#addresses}}
		<address>
	  	<strong>{{street}}</strong>.<br>
	  	{{city}}, {{department}}
		</address>
	{{/addresses}}
</td>
<td>{{email}}</td>
<td class="center-vh">
	<a href="#render/client/show/{{_id}}" id="show-client" class="btn btn-green" data-toggle="tooltip" data-placement="top" title="Más Información">
		<i class="fa fa-ellipsis-h fa-lg"></i>
	</a>
	<a id="select-client" class="btn btn-warning hide" data-toggle="tooltip" data-placement="top" title="Seleccionar">
		<i class="fa fa-external-link fa-lg"></i>
	</a>
</td>