<td>{{name}}</td>
<td>
	<dt>{{doc.type}}:</dt>
	<dd>{{doc.number}}</dd>
</td>
<td>
	<ul class="list-unstyled">
		{{#phones}}
			<li>{{number}}</li>
		{{/phones}}
	</ul>
</td>
<td>
	{{#addresses}}
		<address>
	  	<strong>{{street}}</strong>.<br>
	  	{{city}}, {{department}}
		</address>
	{{/addresses}}
</td>
<td>{{email}}</td>
<td class="center-vh">
	<button id="show-client" class="btn btn-warning">
		<i class="fa fa-cogs"></i>
	</button>
</td>