<td class="center-vh" style="text-align: left;">{{id}}</td>
<td class="center-vh" style="white-space: normal; text-align: left;">{{client_name}}</td>
<td class="center-vh" style="text-align: left;">
	<dt>{{brand}}</dt>
	<dd>{{model}}</dd>
	{{#if serial}}
		<dd><i class="fa fa-barcode"></i> {{serial}}</dd>
	{{/if}}
</td>
<td class="center-vh">
	{{#is repairement_type "Presupuesto"}}
		<dt>{{repairement_type}}</dt>
		{{#is cost "not" 0}}
			<dd>${{cost}},00</dd>
		{{/is}}
	{{else}}
		{{repairement_type}}
	{{/is}}
</td>
<td class="center-vh">
	<h4 style="margin: 0px;"><span class="label label-default {{statusClass status}}">{{status}}</span></h4>
</td>
<td class="center-vh" style="white-space: normal">{{technician_name}}</td>
<td>
	<dt>Creado</dt>
	<dd>{{createdAt}}</dd>
	<dt>Actualizado</dt>
	<dd>{{updatedAt}}</dd>
	{{#if closedAt}}
		<dt>Cerrado</dt>
		<dd>{{closedAt}}</dd>
	{{/if}}
</td>
<td class="center-vh">
	<a href="#render/appliance/show/{{_id}}" class="btn btn-green" data-id={{_id}} id="appliance-details" data-toggle="tooltip" data-placement="top" title="Mas Información" style="margin-bottom: 3px;">
		<i class="fa fa-ellipsis-h fa-fw"></i>
	</a>
	<br>
	<a href="#render/service_request/show/{{service_request_id}}" class="btn btn-green" id="appliance-service-request" data-toggle="tooltip" data-placement="top" title="Orden de Servicio" style="margin-top: 3px; margin-right: 3px">
		<i class="fa fa-clipboard fa-fw"></i>
	</a>
</td>