<td>{{id}}</td>
{{#unless sameClient}}
	<td>{{client_name}}</td>
{{/unless}}
<td>{{brand}}</td>
<td>{{model}}</td>
<td>{{serial}}</td>
<td>{{status}}</td>
<td>{{updatedAt}}</td>
<td>{{closedAt}}</td>
<td class="center-vh">
	<button id="show-appliance" class="btn btn-green">
		<i class="fa fa-ellipsis-h fa-lg"></i>
	</button>
</td>