<div id="message"></div>
<form class="form-horizontal">
	{{! =========== }}
	{{! ID y Estado }}
	{{! =========== }}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="id" class="col-sm-2 control-label">ID</label>
				<div class="col-sm-10">
					<input disabled type="text" class="form-control" name="id" value="{{id}}">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="status" class="col-sm-2 col-md-4 control-label">Estado</label>
				<input type="text" name="status" value="{{status}}" class="hide">
				<div class="col-sm-10 col-md-8">
					<div class="btn-group" style="display: flex">
					  <button class="btn btn-block dropdown-toggle" type="button" data-toggle="dropdown" id="status-dropdown" >
					    <span id="status-text">{{status}}</span> <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu status" style="width: 100%">
					    <li><a href="#" class="status-2" data-class="2">En Reparación</a></li>
					    <li><a href="#" class="status-3" data-class="3">En Espera</a></li>
					    <li><a href="#" class="status-4" data-class="4">Atrasado</a></li>
					    <li><a href="#" class="status-5" data-class="5">Reparado</a></li>
					    <li><a href="#" class="status-7" data-class="7">Entregado</a></li>
					    <li><a href="#" class="status-6" data-class="6">Enviado</a></li>
					    <li><a href="#" class="status-1" data-class="1">Recibido</a></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{! ======================= }}
	<div class="row">
		<div class="col-lg-12">
			<hr style="margin-top: 0;">
		</div>
	</div>
	{{! ======================= }}

	{{! ================ }}
	{{! DATOS DEL EQUIPO }}
	{{! ================ }}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="brand" class="col-sm-2 control-label">Marca</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="brand" placeholder="e.j: Punktal" value="{{brand}}" disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="model" class="col-sm-2 control-label">Modelo</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="model" placeholder="e.j: PKT1020" value="{{model}}" disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="serial" class="col-sm-2 control-label">Serie</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="serial" placeholder="e.j: AXE102032" value="{{serial}}">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="category" class="col-sm-2 col-md-4 control-label">Categoría</label>
				<div class="col-sm-10 col-md-8">
					<input type="text" class="form-control" name="category" placeholder="e.j: Electrodomestico" value="{{category}}" disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="subcategory" class="col-sm-2 col-md-4 control-label">Subcategoría</label>
				<div class="col-sm-10 col-md-8">
					<input type="text" class="form-control" name="subcategory" placeholder="e.j: Plancha" value="{{subcategory}}" disabled>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10 col-md-offset-4 col-md-8">
					<button class="btn btn-info btn-block" tabindex="-1" id="select-model">
						<i class="fa fa-search"></i> Buscar Equipo
					</button>
				</div>
			</div>
		</div>
	</div>

	{{! ======================= }}
	<div class="row">
		<div class="col-lg-12">
			<hr style="margin-top: 0;">
		</div>
	</div>
	{{! ======================= }}

	{{! ==================== }}
	{{! DETALLES ADICIONALES }}
	{{! ==================== }}
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label for="accessories" class="col-sm-2 control-label">Accesorios</label>
				<div class="col-sm-10">
					<select class="form-control" name="accessories" data-role="tagsinput" multiple>
						{{#each accessories}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}	
					</select>	
				</div>
			</div>
			<div class="form-group">
				<label for="observations" class="col-sm-2 control-label">Observaciones</label>
				<div class="col-sm-10">
					<textarea class="form-control" name="observations">{{observations}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="technician_name" class="col-xs-2 col-sm-2 control-label">Tecnico</label>
				<div class="col-xs-8 col-sm-8">
					<select class="form-control" name="technician_id" value={{technician_id}}></select>
				</div>
				<div class="col-xs-2 col-sm-2">
					<a href="#render/tech/show/{{technician_id}}" class="btn btn-green pull-right" data-toggle="tooltip" data-placement="top" title="Orden de Servicio" name="technician_link">
						<i class="fa fa-user fa-fw"></i> Tecnico
					</a>
				</div>
			</div>
		</div>
	</div>

	{{! ======================= }}
	<div class="row">
		<div class="col-lg-12">
			<hr style="margin-top: 0;">
		</div>
	</div>
	{{! ======================= }}

	{{! ========================== }}
	{{! Tipo de Reparacion y Costo }}
	{{! ========================== }}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="repairement_type" class="col-sm-2 col-md-4 control-label">Reparación</label>
				<div class="col-sm-10 col-md-8">
					<select class="form-control" name="repairement_type" value={{repairment_type}}>
						<option value="Garantía"{{selected? "Garantía" repairement_type}}>Garantía</option>
						<option value="Presupuesto" {{selected? "Presupuesto" repairement_type}}>Presupuesto</option>
					</select>	
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group has-feedback" id="cost-form-group">
				<label for="cost" class="col-sm-2 col-md-4 control-label">Presupuesto</label>
				<div class="col-sm-10 col-md-8">
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" min="0" step="1" class="form-control text-right" name="cost" placeholder="ej. 100.00" value="{{cost}}">
					<span class="input-group-addon">.00</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{! ======================= }}
	<div class="row">
		<div class="col-lg-12">
			<hr style="margin-top: 0;">
		</div>
	</div>
	{{! ======================= }}

	{{! =================== }}
	{{! DATOS DE REPARACIÓN }}
	{{! =================== }}
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label for="defect" class="col-sm-2 control-label">Defecto</label>
				<div class="col-sm-10">
					<textarea class="form-control" name="defect">{{defect}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="diagnose" class="col-sm-2 control-label">Diagnostico</label>
				<div class="col-sm-10">
					<textarea class="form-control" name="diagnose">{{diagnose}}</textarea>
				</div>
			</div>
		</div>
	</div>

	{{! ======================= }}
	<div class="row">
		<div class="col-lg-12">
			<hr style="margin-top: 0;">
		</div>
	</div>
	{{! ======================= }}

	{{! ========= }}
	{{! REPUESTOS }}
	{{! ========= }}
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
				<label for="replacements" class="col-sm-2 control-label">Repuestos</label>
				<div class="col-sm-10">
					<select class="form-control" name="replacements" data-role="tagsinput" multiple>
						{{#each replacements}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}	
					</select>	
				</div>
			</div>
			<div class="form-group">
				<label for="solution" class="col-sm-2 control-label">Solución</label>
				<div class="col-sm-10">
					<textarea class="form-control" name="solution">{{solution}}</textarea>
				</div>
			</div>
		</div>
	</div>

	{{! ======================= }}
	<div class="row">
		<div class="col-lg-12">
			<hr style="margin-top: 0;">
		</div>
	</div>
	{{! ======================= }}

	{{! ========= }}
	{{! CONTROLES }}
	{{! ========= }}
	<div class="row" style="border-radius: 0; margin-bottom: 0">
<div class="col-xs-12" id="controls">
<button id="edit-appliance" class="btn btn-primary hide">
	<i class="fa fa-pencil"></i>
	 Editar
</button>
<button id="save-appliance" class="btn btn-warning">
	<i class="fa fa-save"></i>
	 Guardar Cambios
</button>
<button id="render-appliance" class="btn btn-inverse pull-right">
	<i class="fa fa-reply"></i>
	 Reestablecer
</button>
</div>
	</div>
</form>
