<div id="carousel-{{cid}}" class="col-lg-12 carousel slide">
	<div class="row well well-sm" style="border-radius: 0; margin-bottom:10px">
		<div class="col-lg-offset-2 col-lg-8 col-md-12">
			<h2 class="text-center" style="margin-top: 10px">
				<button id="prev-model" class="btn btn-green pull-left">
					<i class="fa fa-chevron-left"></i>
				</button>
				{{carouselTitle}}
				<button type="button" class="btn btn-green" data-toggle="collapse" data-target="#range-carousel-selector-{{cid}}">
					<i class="fa fa-bars"></i>
				</button>
				<button id="next-model" class="btn btn-green pull-right">
					<i class="fa fa-chevron-right"></i>
				</button>
			</h2>
		</div>
	</div>
	<div class="row collapse" id="range-carousel-selector-{{cid}}">
		<div class="col-lg-offset-2 col-lg-8 col-md-12">
			<div class="range range-green" style="margin: 0px 0px 10px 0px">
        <input type="range" name="range" min="1" max="100" value="1" id="range-selector">
        <output id="range"></span></output>
      </div>
      <hr>
		</div>
	</div>
	<div class="row">
		<div class="{{carouselClassName}}">
			<div id="carousel-items-{{cid}}" class="carousel-inner"></div>
		</div>
	</div>
</div>