<ul id="{{modelName}}-tabs" class="nav nav-tabs">
  {{#each tab}}
    <li {{#if active}}class="active"{{/if}}>
    	<a href="#{{href}}" data-toggle="tab" id="{{id}}">
    		{{title}}
    	</a>
    </li>
  {{/each}}
</ul>
<div id="{{modelName}}-tab-content" class="tab-content">
  {{#each tab}}
    <div class="tab-pane fade in {{#if active}}active{{/if}} {{#if class}}{{class}}{{/if}}" id="{{href}}"></div>
  {{/each}}
</div>